<silentsettings>
	<variables>
		<var name="InstallPath" value="D:\Software\Matrix ScreenSaver"/>
		<var name="UninstallTitleFont" value="MS Sans Serif, 10, 0,B"/>
		<var name="UninstallSubtitleFont" value="MS Sans Serif, 8, 0,"/>
		<var name="UninstallDialogFont" value="MS Sans Serif, 8, 0,"/>
		<var name="UninstallProgressColor" value="12692902"/>
		<var name="ProgramGroup" value="KellySoftware\Matrix-ks"/>
		<var name="LangID" value="ENU"/>
	</variables>
</silentsettings>
