#include <winresrc.h>
#include "resource.h"

ICO_MAIN ICON "main.ico"

DLG_MAIN DIALOG 200, 50, 223, 317
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Grub Installer"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Install", IDOK, 56, 298, 50, 14
 PUSHBUTTON "Quit", IDCANCEL, 120, 298, 50, 14
 GROUPBOX "Device Name", IDC_GROUPBOX1, 8, 4, 208, 64, BS_GROUPBOX
 AUTORADIOBUTTON "Disk", IDC_ISDISK, 24, 20, 32, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 COMBOBOX IDC_SYSDISKS, 64, 20, 136, 56, CBS_DROPDOWNLIST | WS_TABSTOP
 AUTORADIOBUTTON "File", IDC_ISFILE, 24, 44, 32, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 EDITTEXT IDC_FILENAME, 64, 44, 96, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE, 168, 42, 32, 16
 GROUPBOX "Options", IDC_GROUPBOX2, 8, 72, 208, 144, BS_GROUPBOX
 AUTOCHECKBOX "Don't save old MBR to the second sector", IDC_NO_BACKUP_MBR, 24, 88, 160, 12
 AUTOCHECKBOX "Disable search of GRLDR on floppy", IDC_DISABLE_FLOPPY, 24, 104, 152, 12
 AUTOCHECKBOX "Disable the boot of previous MBR", IDC_DISABLE_OSBR, 24, 120, 144, 12
 AUTOCHECKBOX "Disable unconditional entrance to the command line", IDC_DUCE, 24, 136, 184, 12
 AUTOCHECKBOX "Boot previous MBR before the search of GRLDR", IDC_PREVMBR_FIRST, 24, 152, 176, 12
 LTEXT "Prefered Drive", -1, 24, 176, 48, 8
 LTEXT "Prefered Partition", -1, 112, 176, 64, 8
 EDITTEXT IDC_PREFERED_DRIVE, 80, 174, 24, 12, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_PREFERED_PARTITION, 176, 174, 24, 12, WS_BORDER | WS_TABSTOP
 LTEXT "Timeout", -1, 24, 194, 40, 8
 LTEXT "Hot Key", -1, 112, 194, 40, 8
 EDITTEXT IDC_TIMEOUT, 80, 194, 24, 12, WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_HOTKEY, 160, 194, 40, 12, WS_BORDER | WS_TABSTOP
 GROUPBOX "Restore", IDC_GROUPBOX3, 8, 220, 208, 72, BS_GROUPBOX
 LTEXT "Save File", -1, 24, 236, 32, 8
 EDITTEXT IDC_SAVEFILE, 64, 234, 96, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE_SAVE, 168, 232, 32, 16
 AUTOCHECKBOX "Restore MBR from previous saved file", IDC_RESTORE_SAVE, 24, 256, 144, 12
 AUTOCHECKBOX "Restore MBR from the second sector", IDC_RESTORE_PREVMBR, 24, 272, 144, 12
}
